<div class="card bg-dark text-white">

  <div class="card-header d-flex align-items-center ">
    <h5>
      <i class="fa-solid fa-image"></i> Upload an Image
    </h5>
  </div>

  {{! IMAGE UPLOAD FORM }}
  <div class="card-body p-5">
    <form action="/images" method="POST" enctype="multipart/form-data">

      <div class="mb-3">
        <input
          type="file"
          name="image"
          class="form-control text-dark border-success"
          required
        />
      </div>

      <div class="mb-3">
        <input
          type="text"
          name="title"
          class="form-control bg-dark text-white border border-success"
          placeholder="Title for the Image"
          required
        />
      </div>

      <div class="mb-3">
        <textarea
          name="description"
          rows="2"
          class="form-control bg-dark text-white border border-success"
          placeholder="Deescription for the Image"
          required
        ></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-success">
          <i class="fa fa-upload"></i>
          Upload Image
        </button>
      </div>

    </form>
  </div>
</div>


<div class="card mt-2 bg-dark text-white">
  <div class="card-header d-flex align-items-center">
    
    <h5><i class="fa-solid fa-images"></i> Recent Uploads</h5>
  </div>
  <div class="card-body p-5">
    <div class="row">
      {{#each images}}
        <div class="col-md-4 text-center">
          <a href="/images/{{this.uniqueId}}">
            <img
              src="/public/upload/{{this.filename}}"
              alt="{{this.title}}"
              class="img-fluid"
              style="object-fit: cover;"
            />
          </a>
        </div>
      {{else}}
        <div class="text-light text-center p-5">
          <h1 class="text-light">There are no Images <strong>yet</strong></h1>
          <p>Upload your first image</p>
          <span class="material-icons" style="font-size: 7rem;">
            add_a_photo
          </span>
        </div>
      {{/each}}
    </div>
  </div>
</div>
